{:paths     ["src" "resources"]
 :deps      {org.clojure/clojure      {:mvn/version "1.10.1"}
             com.cognitect/anomalies  {:mvn/version "0.1.12"}
             com.datomic/client-cloud {:mvn/version "0.8.81"}
             com.datomic/ion          {:mvn/version "0.9.35"}
             ;Add embedded repl support
             nrepl                    {:mvn/version "0.6.0"}
             }
 :mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}
 :aliases   {:ion-dev {:deps      {com.datomic/ion-dev {:mvn/version "0.9.247"}}
                       :main-opts ["-m" "datomic.ion.dev"]}}
 }
