{:lambdas  {:hello
            {:fn          replion.lambdas/hello
             :description "Hello world. This is a simple lambda that does nothing but return hello."}
            :parker-status
            {:fn          replion.spiderman-lambdas/parker-status
             :description "Return the status of Peter Parker at a given point in time."}
            :handler
            {:fn          replion.web/handler-proxy
             :description "Our single web handler"}}
 :app-name "repl-ion"}